<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="archiviement-list">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }
    </style>
    <h2> Aquí mandaste [[rootPath]]</h2>
  </template>

  <script>
    class ArchiviementList extends Polymer.Element {
      static get is() { return 'ArchiviementList'; }
      static get properties() {
        return {
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }
    }

    window.customElements.define(ArchiviementList.is, ArchiviementList);
  </script>
</dom-module>