<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="medal-list">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }
    </style>

    <h1> titulo: [[titulo]] </h1>
    <br> 
    [[texto]]
  </template>

  <script>
    class MedalList extends Polymer.Element {
      static get is() { return 'medal-list'; }
      static get properties() {
        return {
          titulo: {
            type: String
          },
          texto: {
            type: String
          }
        };
      }
    }

    window.customElements.define(MedalList.is, MedalList);
  </script>
</dom-module>