<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="my-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <b>Login view</b>
  </template>

  <script>
    class MyLoginView extends Polymer.Element {
      static get is() { return 'my-login'; }
    }
    window.customElements.define(MyLoginView.is, MyLoginView);
  </script>
</dom-module>